<h1>Editing rail friend</h1>

<%= render "form", rail_friend: @rail_friend %>

<br>

<div>
  <%= link_to "Show this rail friend", @rail_friend %> |
  <%= link_to "Back to rail friends", rail_friends_path %>
</div>
